* {
  font-family: 'Comic Neue', cursive; 
  box-sizing: border-box;
  margin: 0

}

body {
   font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(90deg, rgba(246,173,123,1) 0%, rgba(245,172,123,1) 0%, rgba(190,117,117,1) 63%);
}
