* {
  font-family: 'Comic Neue', cursive; 
  box-sizing: border-box;
  margin: 0

}

body {
   font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(90deg, rgba(246,173,123,1) 0%, rgba(245,172,123,1) 0%, rgba(190,117,117,1) 63%);
}


/* Testar för registrering och login */

.container {
  background-color: #F2EEE5;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.signup-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .login-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: -webkit-linear-gradient(135deg, #F2EEE5 10%, #C2E8CE 100%);
  background-image: linear-gradient(135deg, #F2EEE5 10%, #C2E8CE 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #F6AD7B;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.panel-left {
  transform: translateX(-20%);
}

.container.right-panel-active .panel-left {
  transform: translateX(0);
}

.panel-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .panel-right {
  transform: translateX(20%);
}

/* ----Input field styling----- */
.input-container {
  position: relative;
  margin: 12px;
}

input {
  width: 220px;
  border: solid 2px #BE7575;
  border-radius: 6px;
  background: none;
  padding: 12px;
  font-size: 1rem;
  color: #BE7575;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #BE7575;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover,
input:valid,
.input:focus {
  outline: none;
  border: 2px solid #b2a2d8;
}

input:valid ~ label,
.input:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #fff;
  padding: 0 0.2em;
  color: #b2a2d8;
}

/* ----mobile media queries----- */

@media screen and (max-width: 785px) {
  .overlay-container,
  .overlay {
    display: none;
  }
  .container {
    width: 350px;
  }
  .sign-up-container,
  .login-container {
    width: 100%;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(0);
  }
}


